.button {
  @extend %body-m;

  background-color: $color-primary;
  color: white;
  border: none;
  appearance: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-primary, 0.8);
  }
}
